.comments{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    .comments {
        border: 1px solid var(--border-soft);
        border-radius: 20px;
        padding: 10px;
        max-height: 500px;
        overflow-y: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 992px) {
    .comments {
        margin: 10px 20px;
    }
}